<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}">
<head>
    <title>AddInterval</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <form method="post" th:action="@{/addInterval}" th:object="${form}">
        <input type="hidden" class="form-control" th:field="*{id}">
        <div class="row">
            <div class="col-md-6">
                <label for="name" class="form-label">Name</label>
                <input th:field="*{name}" type="text" class="form-control" id="name">
            </div>
            <div class="col-md-6">
                    <label for="value" class="form-label">Value(milliseconds)</label>
                    <input th:field="*{value}" type="text" class="form-control" id="value">
                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                   <input type="submit" value="Save">
                </div>
            </div>

    </form>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${items}">
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.value}"></td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-sm" th:href="@{'/editInterval/' + ${item.id}}">Edit</a>
                            <form th:action="@{/deleteInterval}">
                                <button class="btn btn-sm" type="submit" th:name="id" th:value="${item.id}">Delete</button>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>